* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #39e75f 0%, #abf7b1 100%);
    font-family: "Comic Relief", sans-serif;
}

.game-ui {
    width: 360px;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

h1 {
    font-size: 2rem;
    color: #3d8b4b;
}

p {
    color: #234a2d;
    margin-bottom: 16px;
}

.score-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

button {
    background: #46e564;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 72px);
    grid-template-rows: repeat(4, 72px);
    gap: 10px;
    justify-content: center;
}

.cell {
    width: 72px;
    height: 72px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: #143f19;
    background: #aff0af;
}

.welcome-screen {
    width: 360px;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

.cell[data-value="2"] {
    background: #b9ffd2;
}
.cell[data-value="4"] {
    background: #82ffb4;
}
.cell[data-value="8"] {
    background: #64ff96;
}
.cell[data-value="16"] {
    background: #4bff7d;
}
.cell[data-value="32"] {
    background: #36f576;
}
.cell[data-value="64"] {
    background: #2ee868;
}
.cell[data-value="128"] {
    background: #1dc658;
    color: white;
}
.cell[data-value="256"] {
    background: #00a644;
    color: white;
}
.cell[data-value="512"] {
    background: #00753b;
    color: white;
}
.cell[data-value="1024"] {
    background: #004628;
    color: white;
}
.cell[data-value="2048"] {
    background: #003314;
    color: white;
}
audio {
    position: fixed !important;
    bottom: 20px !important;
    right: 25px !important;
    left: auto !important; /* Resets any left alignment */
    top: auto !important; /* Resets any top alignment */
    z-index: 99999 !important; /* Keeps it above everything else */
}
